:root {
   --background: #ebdedb;
   --stripes: #3b52c1;
   --button: #9e34e0;
   --burger: #f4a64a;
}

h1{
   margin: 0;
   padding: 2% 0 2% 0;
}
a {
   text-decoration: none;
   color: inherit;
}

html {
   margin: 0;
   height: 100%;
   background: var(--background);
}
body{
   margin: 0;
   height: 100%;
}
