:root {
   --background: #ebdedb;
   --stripes: #3b52c1;
   --button: #9e34e0;
   --burger: #f4a64a;
}

h1{
   margin: 0;
   padding: 2% 0 2% 0;
   font-family: 'Josefin Sans', sans-serif;
}
h2{
   font-family: 'Josefin Sans', sans-serif;
}
h3{
font-family: 'Josefin Sans', sans-serif;
}
a {
   text-decoration: none;
   color: inherit;
}

html {
   margin: 0;
   height: 100%;
   background:  linear-gradient(160deg, var(--background) calc(100% - 8px), var(--stripes) 0);
  background-size: calc((100% - 2*2px)/2 + 5px) 100%;;
}
body{
   margin: 0;
   height: 100%;
}
