:root {
  --background: #ebdedb;
  --stripes: #3b52c1;
  --button: #9e34e0;
  --burger: #f4a64a;
}

h1 {
  margin: 0;
  padding: 2% 0 2% 0;
  font-family: 'Josefin Sans', sans-serif;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
}

h3 {
  font-family: 'Josefin Sans', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  margin: 0;
  height: 100%;
  background: var(--background);
}

body {
  margin: 0;
  height: 100%;
}

.bm-item:hover {
  color: #3a50bd;
  border-color: #3a50bd !important;
}

.footer {
  background: #C2ACA6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2% 0 2% 0;
}

.footer a {
  width: 30%;
  margin-left: 2%;
}

.footer a img {
  width: 100%;
}

.footer .footerinfo {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  width: 60%;
}

.footer .footerinfo p {
  margin: 1% 0 1% 0;
}

.footer .footerinfo .infobold {
  font-weight: 800;
}

.footer .footerinfo .infoitalic {
  font-style: italic;
}

@media only screen and (min-width: 768px) {
  .footer a {
    width: 20%;
  }
  .footer .footerinfo {
    font-size: 1.25em;
  }
}

@media only screen and (min-width: 1024px) {
  .footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer a {
    width: 10%;
  }
  .footer .footerinfo {
    text-align: center;
    font-size: 1.5em;
  }
}

/* #ebdedb */
#multiselectContainerReact {
  width: 25%;
  margin: auto;
  margin-bottom: 1%;
  text-align: left;
}

#multiselectContainerReact img {
  width: 100%;
}

.searchWrapper {
  background-color: #fff;
}

.searchWrapper ::-webkit-input-placeholder {
  color: #fb6838;
  font-weight: bold;
}

.searchWrapper :-ms-input-placeholder {
  color: #fb6838;
  font-weight: bold;
}

.searchWrapper ::-ms-input-placeholder {
  color: #fb6838;
  font-weight: bold;
}

.searchWrapper ::placeholder {
  color: #fb6838;
  font-weight: bold;
}

.optionListContainer {
  color: #fb6838;
}

.optionListContainer .option:hover {
  background-color: #ebdedb !important;
  color: #fb6838;
}

.searchBox {
  min-height: 1.5em;
  font-size: 1em;
  border-radius: none;
}

.chip {
  background-color: #fb6838 !important;
}

@media only screen and (max-width: 500px) {
  #multiselectContainerReact {
    width: 50%;
  }
  #multiselectContainerReact .chip {
    font-size: 1.3em;
  }
  #multiselectContainerReact ::-webkit-input-placeholder {
    font-size: 1.3em;
  }
  #multiselectContainerReact :-ms-input-placeholder {
    font-size: 1.3em;
  }
  #multiselectContainerReact ::-ms-input-placeholder {
    font-size: 1.3em;
  }
  #multiselectContainerReact ::placeholder {
    font-size: 1.3em;
  }
}

.homepage .homepagebanner {
  background: url(../img/HomePageBanner.png);
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.homepage .homepagebanner p {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  font-weight: bold;
  font-size: 1.25em;
  margin: 0 auto;
  width: 90%;
  text-transform: uppercase;
}

.homepage .homepagebanner h1 {
  text-align: center;
  padding: 20% 0 10% 0;
  margin: 0 auto;
  font-size: 3em;
  width: 75%;
  color: white;
}

.homepage .homepagebanner img {
  margin-bottom: 2%;
}

.homepage .homepagebanner button {
  background: #D79F55;
  font-family: Helvetica, sans-serif;
  text-transform: uppercase;
  border-style: none;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  padding: 2%;
  margin-bottom: 5%;
  margin-right: auto;
  margin-left: 5%;
  bottom: 10%;
  left: 2%;
}

.homepage .curated h2 {
  text-align: center;
}

.homepage .curated .curatedplace {
  text-align: center;
  width: 100%;
}

.homepage .curated .curatedplace h2 {
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: left;
  margin: 5% 0 0 2.5%;
}

.homepage .curated .curatedplace img {
  width: 100%;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
  height: 20vh;
}

.homepage .searchbar-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage input[type=search] {
  position: relative;
  padding: 15px 40px 15px 20px;
  width: 20px;
  color: #000000;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  border: none;
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, right top, from(#FFFFFF), color-stop(#F9F9F9, #464747));
  background: linear-gradient(to right, #FFFFFF 0%, #464747 #F9F9F9 100%);
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  outline: none;
}

.homepage input[type=search]:focus {
  width: 300px;
}

.homepage i {
  position: relative;
  left: -37px;
  color: #000;
}

.homepage .errormessage {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}

.homepage .restaurantcard {
  width: 90%;
  margin: 10% auto;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homepage .restaurantcard:hover {
  cursor: pointer;
}

.homepage .restaurantcard img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.homepage .restaurantcard h3 {
  text-transform: uppercase;
  position: absolute;
  color: white;
  margin: 2% 0 2% 2%;
  font-size: 2em;
}

@media only screen and (min-width: 1024px) {
  .homepage .restaurantcard {
    height: 50vh;
    width: 15%;
    margin: 2% 2%;
  }
  .homepage .restaurantcard h3 {
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    text-orientation: inherit;
    margin: 2% 2% 0 0;
    position: inherit;
    color: black;
  }
}

@media only screen and (min-width: 1024px) {
  .homepage .homepagebanner {
    background: url(../img/HomePageBannerDesktop.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .homepage .homepagebanner h1 {
    padding: 5% 0 2.5% 0;
  }
  .homepage .homepagebanner p {
    width: inherit;
    margin-right: auto;
    margin-left: 5%;
    display: inline;
    background: rgba(0, 0, 0, 0.315);
  }
  .homepage .homepagebanner button {
    padding: 1%;
  }
  .homepage .desktopflex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.discoverpage {
  background-size: cover;
  min-height: 100vh;
  height: auto !important;
  /* svg manipulation */
  /* ------------------------ */
  /* checkbox icon og text flexing */
  /* text manipulation */
  /* img manipulation */
}

.discoverpage .discover-banner {
  background-image: url(../img/Ispinde.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 1%;
}

.discoverpage svg path {
  color: #fff;
}

.discoverpage svg {
  width: 3em;
  height: 3em;
}

.discoverpage .dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1%;
}

.discoverpage .span-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 6%;
}

.discoverpage .span-text {
  font-family: "Josefin, sans", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  margin: 1%;
  padding-bottom: 6%;
  -ms-flex-item-align: center;
      align-self: center;
}

.discoverpage .span-icon-box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2em 0em 2em 0em;
  text-align: center;
}

.discoverpage .checkboxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.discoverpage .label-box {
  width: 70%;
  height: auto;
  margin: auto;
  background-color: #9b33dc;
  border-radius: 10px;
}

.discoverpage .row1,
.discoverpage .row2 {
  width: 40%;
}

.discoverpage form input[type="checkbox"] {
  display: none;
}

.discoverpage form input:checked + div {
  border-radius: 10px;
  background-color: #cb33dc;
  -webkit-box-shadow: inset 0 0 10px black;
          box-shadow: inset 0 0 10px black;
}

.discoverpage form input:checked + div span {
  font-weight: bold;
}

.discoverpage form input:checked + div svg path {
  fill: var(--discovercheckbox);
}

.discoverpage form button {
  color: #fff;
  background-color: #ffcc00;
  border: #ffcc00;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding: 1%;
  width: 13%;
  height: auto;
  font-size: 1em;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
}

.discoverpage h1 {
  font-size: 3em;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.discoverpage h3 {
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
  text-align: center;
  width: 60%;
  margin: auto;
}

.discoverpage p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1em;
  font-weight: 700;
  text-align: center;
}

.discoverpage img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  width: 10%;
}

@media only screen and (max-width: 1024px) {
  .discoverpage .checkboxes {
    width: 45%;
  }
  .discoverpage form button {
    width: 25%;
  }
  .discoverpage .row1,
  .discoverpage .row2 {
    width: 40%;
  }
  .discoverpage img {
    width: 16%;
  }
}

@media only screen and (max-width: 768px) {
  .discoverpage .checkboxes {
    width: 75%;
  }
  .discoverpage form button {
    width: 40%;
  }
  .discoverpage img {
    width: 18%;
  }
}

@media only screen and (max-width: 500px) {
  .discoverpage .checkboxes {
    width: 100%;
  }
  .discoverpage form button {
    width: 50%;
  }
  .discoverpage img {
    width: 30%;
  }
}

/* .resultpage{

} */
.restaurantpage .restaurantheader {
  position: relative;
}

.restaurantpage .restaurantheader h1 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #E68938;
  font-size: 3em;
  font-weight: 800;
  position: absolute;
  bottom: 2%;
  left: 2%;
}

.restaurantpage .restaurantheader img {
  width: 100%;
  border-radius: 2px 2px 2px 4px;
}

.restaurantpage .moreinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: 5% auto;
  border-radius: 8px;
  background: #bea8a2;
  color: white;
}

.restaurantpage .moreinfo p {
  margin-left: 2%;
  margin-right: 2%;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.25em;
}

.restaurantpage .moreinfo .nationality {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurantpage .moreinfo .nationality img {
  height: 25px;
  margin: 0 2% 0 2%;
}

.restaurantpage .moreinfo .nationality p {
  font-weight: bold;
  text-transform: uppercase;
}

.restaurantpage .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.restaurantpage .menu .menucard {
  width: 40%;
  position: relative;
}

.restaurantpage .menu .menucard h3 {
  margin-top: 1%;
  width: 100%;
  position: absolute;
  color: white;
  font-size: 2em;
  word-wrap: break-word;
}

.restaurantpage .menu .menucard p {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  position: absolute;
  bottom: 0;
  right: 3%;
  font-weight: 800;
}

.restaurantpage .menu .menucard img {
  width: 100%;
  height: 20vh;
}

@media only screen and (min-width: 1024px) {
  .restaurantpage .restaurantheader {
    height: 20vh;
    width: 100%;
  }
  .restaurantpage .restaurantheader img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .restaurantpage .menu {
    padding-bottom: 2%;
  }
  .restaurantpage .menu .menucard {
    width: 15%;
  }
  .restaurantpage .menu .menucard img {
    height: 100%;
  }
}

/* .eventspage{

} */
.joinuspage {
  color: #fff;
}

.joinuspage-s1-header {
  background: url(../img/JoinUsBanner.png);
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.joinuspage-s1-header h1 {
  text-align: center;
  padding: 30% 0 0% 0;
  margin: 0 auto;
  font-size: 3em;
  width: 75%;
  color: white;
}

.joinuspage-s1-header img {
  margin-bottom: 2%;
}

.joinuspage-s2-text {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px 10px 10px 10px;
  border-bottom: 10px;
  background: #c1aaa4;
  max-width: 600px;
  margin: 2rem auto;
  font-family: "Josefin Sans", sans-serif;
  width: 90%;
}

.joinuspage-s2-text p {
  margin: 0 auto;
  padding: 0% 0% 10% 0%;
  width: 90%;
  font-size: 1em;
  line-height: 1.5em;
  font-family: "Montserrat", sans-serif;
  text-align: justify;
}

.joinuspage-s2-text h3 {
  padding: 10% 5% 0% 5%;
}

.joinuspage-s2-text h2 {
  padding: 10% 5% 0% 5%;
}

.joinuspage-s2-text button {
  background: #d79f55;
  font-family: Helvetica, sans-serif;
  border-style: none;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  padding: 2% 10% 2% 10%;
  margin-bottom: 20%;
}

.infopage {
  color: #fff;
}

.infopage .accordion {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px 10px 10px 10px;
  border-bottom: 10px;
  background: #c1aaa4;
  max-width: 600px;
  margin: 2rem auto;
  font-family: "Josefin Sans", sans-serif;
}

.infopage h3 {
  padding: 10% 5% 0% 5%;
}

.infopage .accordion-question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  background-color: #c1aaa4;
  border-bottom: 1px solid white;
}

.infopage .accordion-question:hover {
  background-color: #d0b3aa;
}

.infopage .accordion-question,
.infopage .accordion-answer {
  padding: 1rem;
}

.infopage .accordion-answer {
  background-color: #d0b3aa;
  font-size: 1em;
  line-height: 1.5em;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 700px) {
  .infopage body {
    font-size: 18px;
  }
  .infopage .accordion {
    width: 90%;
  }
}

.infopage-s1-header {
  background: url(../img/InfoOmBanner.png);
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.infopage-s1-header h1 {
  text-align: center;
  padding: 30% 0 0% 0;
  margin: 0 auto;
  font-size: 3em;
  width: 75%;
  color: white;
}

.infopage-s1-header img {
  margin-bottom: 2%;
}

.infopage-s2 {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px 10px 10px 10px;
  border-bottom: 10px;
  background: #c1aaa4;
  max-width: 600px;
  margin: 2rem auto;
  font-family: "Josefin Sans", sans-serif;
  width: 90%;
}

.infopage-s2 img {
  margin: 0 auto;
  width: 100%;
  height: 36vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.infopage-s2 p {
  margin: 0 auto;
  padding: 10% 0% 10% 0%;
  width: 90%;
  font-size: 1em;
  line-height: 1.5em;
  font-family: "Montserrat", sans-serif;
  text-align: justify;
}

.contactpage {
  color: #fff;
}

.contactpage-s1-header {
  background: url(../img/KontaktBanner.png);
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contactpage-s1-header h1 {
  text-align: center;
  padding: 30% 0 0% 0;
  margin: 0 auto;
  font-size: 3em;
  width: 75%;
  color: white;
}

.contactpage-s1-header img {
  margin-bottom: 2%;
}

.contactpage-s2-text {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px 10px 10px 10px;
  border-bottom: 10px;
  background: #c1aaa4;
  max-width: 600px;
  margin: 2rem auto;
  font-family: "Josefin Sans", sans-serif;
  width: 90%;
}

.contactpage-s2-text p {
  margin: 0 auto;
  padding: 0% 0% 10% 0%;
  width: 90%;
  font-size: 1em;
  line-height: 1.5em;
  font-family: "Montserrat", sans-serif;
  text-align: justify;
}

.contactpage-s2-text h3 {
  padding: 10% 5% 0% 5%;
}
/*# sourceMappingURL=style.css.map */