.discoverpage {

  .backbutton img {
    margin-left: 5%;
    margin-bottom: 5%;
    width: 70px;
    height: auto;
  }
  .discover-banner {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 1%;
  }
  h1 {
    text-align: center;
    padding: 30% 0 0% 0;
    margin: 0 auto;
    font-size: 3em;
    width: 75%;
    color: white;
  }

  img {
    margin-bottom: 2%;
  }

  /* svg manipulation */
  

 

  svg {
    width: 2em;
    height: 2em;
    padding-bottom: 30%;
    padding-top: 30%;
    color: #fff
  }
  /* ------------------------ */

  .dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
    
  }
  .searchWrapper {
    margin-top: 70%;
    font-size: 0.7em;
    width: 160%;
 
  }
  .searchBox {
    font-size: 0.9em;
    text-transform: uppercase;
   
  }
  .multiSelectContainer ul {
    display: block;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 250px;
    overflow-y: auto;
  }
  .optionListContainer {
    position: absolute;
    width: 160%;
    background: #fff;
    border-radius: 4px;
    margin-top: 1px;
    z-index: 2;
}

.chip {
  
  font-family: 'montserrat';
  font-size: 0.9em;
}


  /* checkbox icon og text flexing */

  .span-icon {
    display: flex;
    padding-top: 6%;
    color: #fff;
  }

  .span-text {
    font-family: "Josefin, sans", sans-serif;
    display: flex;
    color: #fff;
    margin: 1%;
    padding-bottom: 6%;
    align-self: center;
    font-size: 0.6em;
    text-transform: uppercase;
  }

  .span-icon-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 3em 0em 3em 0em;
    text-align: center;
  }

  .checkboxes {
    display: flex;
    width: 40%;
    margin: auto;
    justify-content: center;
    flex-direction: row;
  }
  .label-box {
    width: 80%;
    height: 100px;
    margin: auto;
    background-color: rgba(59, 89, 78, 0.385);
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }

  .row1,
  .row2 {
    width: 40%;
  }

  form {
    input[type="checkbox"] {
      display: none;
    }

    input:checked + div {
      border-radius: 10px;
      height: 100px;
      background-color: #1d3029d3;
      opacity: 0.9;
      box-shadow: rgba(35, 35, 52, 0.365) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
      span {
        font-weight: bold;
      }
      svg path {
        fill: #fff;
      }
    }

    button {
      color: #fff;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      margin-top: 10%;
      height: auto;
      font-size: 0.9em;
      background: #f2a036;
      font-family: Helvetica, sans-serif;
      text-transform: uppercase;
      border-style: none;
      border-radius: 3px;
      padding: 3%;
      bottom: 10%;
    }
  }

  /* text manipulation */

  h1 {
    font-size: 3em;
    font-weight: bold;
    color: #fff;
    text-align: center;
  }

  h3 {
    font-size: 1.2em;
    font-weight: bold;
    color: #fff;
    text-align: left;
    width: 60%;
    padding-left: 5%;
    padding-top: 10%;
    color: #1d3029;
    text-transform: uppercase;
  }

  p {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
  }

  /* img manipulation */

  img {
    display: flex;
    align-self: center;
    width: 20%;
  }
}

@media only screen and (max-width: 1024px) {
  .discoverpage {
    .checkboxes {
      width: 45%;
    }

    form button {
      width: 25%;
    }

    .row1,
    .row2 {
      width: 40%;
    }

    img {
      width: 16%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .discoverpage {
    .checkboxes {
      width: 75%;
    }

    form button {
      width: 40%;
    }

    img {
      width: 18%;
    }
  }
}

@media only screen and (max-width: 500px) {
  .discoverpage {
    .checkboxes {
      width: 100%;
    }
    form button {
      width: 50%;
    }

    img {
      width: 30%;
    }
  }
  #multiselectContainerReact .chip {
  
    font-size: 0.9em;
  }
}
