.discoveronboardingpage{
    
color: #1d3029;
    h3 {
        width: 90%;
        font-size: 1.9em;
    }

    .discover-banner {
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    
        h1 {
          text-align: center;
          padding: 30% 0 0% 0;
          margin: 0 auto;
          font-size: 2.2em;
          width: 75%;
          color: white;
        }

    
}

.onboarding-textbox {
  background-color: #fff;
  opacity: 0.8;
  box-sizing: border-box;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    height: auto;
    padding-top: 10%;
    padding-left: 5%;

    .guide{
        margin: 0 auto;
        width: 90%;
      
        flex-direction: column;
        justify-content: space-around;
    p{
       
        font-weight: 400;
        width: 90%;     
}
}
.step-3{
    padding-bottom: 7%;
}
button {
    background: #d79f55;
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
    border-style: none;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    padding: 2% 7% 2% 7%;
    margin-bottom: 15%;
    margin-right: auto;
    margin-left: 5%;
    bottom: 10%;
    left: 2%;
  }
}


}