.infopage {
  color: #fff;
  background-image: url("/src/img/Background.svg");

  .backbutton img {
  margin-left: 5%;
  margin-bottom: 5%;
  }

  .accordion {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 10px;
    border-bottom: 10px;
    background: #c1aaa4;
    max-width: 600px;
    width: 90%;
    margin: 2rem auto;
    font-family: "Josefin Sans", sans-serif;
  }
  h3 {
    padding: 10% 5% 0% 5%;
  }

  .accordion-question {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    background-color: #c1aaa4;
    border-bottom: 1px solid rgb(255, 255, 255);
  }

  .accordion-question:hover {
    background-color: #d0b3aa;
  }

  .accordion-question,
  .accordion-answer {
    padding: 1rem;
  }

  .accordion-answer {
    background-color: #d0b3aa;
    font-size: 1em;
    line-height: 1.5em;
    font-family: "Montserrat", sans-serif;

    @media screen and (min-width: 700px) {
      font-size: 1.2em;
    }
  }
}

.infopage-s1-header {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  h1 {
    text-align: center;
    padding: 30% 0 0% 0;
    margin: 0 auto;
    font-size: 3em;
    width: 75%;
    color: white;
  }

  img {
    margin-bottom: 2%;
  }

  @media screen and (min-width: 700px) {
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;

    h1 {
      padding: 30% 0 0% 0;
    }
  }
}
.infopage-s2 {
  margin: 0;
  box-sizing: border-box;
  border-radius: 10px 10px 10px 10px;
  border-bottom: 10px;
  background: #c1aaa4;
  max-width: 600px;
  margin: 2rem auto;
  font-family: "Josefin Sans", sans-serif;
  width: 90%;

  @media screen and (min-width: 700px) {
    h3 {
      font-size: 1.9em;
    }

    img {
      max-width: fit-content;
    }
  }

  img {
    margin: 0 auto;
    width: 90%;
    height: 36vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  p {
    margin: 0 auto;
    padding: 10% 0% 10% 0%;
    width: 90%;
    font-size: 1em;
    line-height: 1.5em;
    font-family: "Montserrat", sans-serif;
    text-align: justify;

    @media screen and (min-width: 700px) {
      font-size: 1.3em;
    }
  }
 
}
