.restaurantpage{
    .restaurantheader{
        position: relative;
        height: 50vh;

    h1{
        font-family: 'Josefin Sans', sans-serif;
        text-transform: uppercase;
        color: #1d3029;
        font-size: 2.5em;
        font-weight: 700;
        position: absolute;
        background-color: #fff;
        opacity: 0.9;
        bottom: 15%;
        position: absolute;
        
      
    }
    img{
        width: 100%;
        border-radius: 2px 2px 2px 4px;
    }
}
    .moreinfo{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 5% auto;
        border-radius: 8px;
        background: #bea8a2;
        color: white;

        p{
            margin-left: 2%;
            margin-right: 2%;
            font-family: 'Montserrat', sans-serif;
            font-size: 1em;
            text-align: justify;
            word-spacing: -0.09em;
        }
        .nationality{
            display: flex;
            align-items: center;
            padding-left: 2%;

            img{
                height: 25px;
                margin: 0 2% 0 2%;
            }
            p{
                font-weight: 400;
                font-size: 0.9em;
                text-transform: uppercase;
            }
        }
    }
    //Menu
    .menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        
        .menucard{
            width: 40%;
            position: relative;
            margin-top: 5%;

            h3{
        
                width: 100%;
                color: #1d3029;
                font-size: 0.8em;
                word-wrap: break-word;
            }
            p{
                color: #1d3029;
                font-family: 'Josefin Sans', sans-serif;
                position: absolute;
                bottom: 0;
                right: 3%;
                font-weight: 800;
                background-color: #fff;
                opacity: 0.8;
                padding: 1% 2% 0% 5%;
            }
            img{
                width: 100%;
            height: 20vh;
            
        }
        }
    }
    @media only screen and (min-width: 1024px)
    {
        .restaurantheader{
            height: 20vh;
            width: 100%;
            img{
                height: 100%;
                object-fit: cover;
            }
        }
        .menu{
            padding-bottom: 2%;
            .menucard{
                width: 15%;
            }
           
            
        }
    }
} 
